.user_input{
  position: absolute;
  top:20%;
  left:20%;
}


.ip{
  margin: 20px;
}

.submit_ip_button{
  border-radius: 10px;
  width:100px;
  height:50px;
  border: none;
  background-color: darkcyan;
  color: white;
  font-weight: bold;
}
